node_modules
vendor
.env
.git
.gitignore
.dockerignore
docker-compose.yml
*.md
tests
.phpunit*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
!storage/app/private/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
/heyzine-flipbook.zip
